.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}

$size-map: (
  "lg": 1.33,
  "2x": 2,
  "3x": 3,
  "4x": 4,
  "5x": 5
);

@each $name, $size in $size-map {
  .twa-#{$name} {
    height: 1em * $size;
    width: 1em * $size;
    margin: 0 .05em * $size 0 .1em * $size;
    vertical-align: -0.1em * $size;
    background-size: 1em * $size 1em * $size;
  }
}

$flag-twemoji-map: (
  "flag-ascension-island": "1f1e6-1f1e8",
  "flag-andorra": "1f1e6-1f1e9",
  "flag-united-arab-emirates": "1f1e6-1f1ea",
  "flag-afghanistan": "1f1e6-1f1eb",
  "flag-antigua-barbuda": "1f1e6-1f1ec",
  "flag-anguilla": "1f1e6-1f1ee",
  "flag-albania": "1f1e6-1f1f1",
  "flag-armenia": "1f1e6-1f1f2",
  "flag-angola": "1f1e6-1f1f4",
  "flag-antarctica": "1f1e6-1f1f6",
  "flag-argentina": "1f1e6-1f1f7",
  "flag-american-samoa": "1f1e6-1f1f8",
  "flag-austria": "1f1e6-1f1f9",
  "flag-australia": "1f1e6-1f1fa",
  "flag-aruba": "1f1e6-1f1fc",
  "flag-aland-islands": "1f1e6-1f1fd",
  "flag-azerbaijan": "1f1e6-1f1ff",
  "flag-bosnia-herzegovina": "1f1e7-1f1e6",
  "flag-barbados": "1f1e7-1f1e7",
  "flag-bangladesh": "1f1e7-1f1e9",
  "flag-belgium": "1f1e7-1f1ea",
  "flag-burkina-faso": "1f1e7-1f1eb",
  "flag-bulgaria": "1f1e7-1f1ec",
  "flag-bahrain": "1f1e7-1f1ed",
  "flag-burundi": "1f1e7-1f1ee",
  "flag-benin": "1f1e7-1f1ef",
  "flag-st-barthelemy": "1f1e7-1f1f1",
  "flag-bermuda": "1f1e7-1f1f2",
  "flag-brunei": "1f1e7-1f1f3",
  "flag-bolivia": "1f1e7-1f1f4",
  "flag-caribbean-netherlands": "1f1e7-1f1f6",
  "flag-brazil": "1f1e7-1f1f7",
  "flag-bahamas": "1f1e7-1f1f8",
  "flag-bhutan": "1f1e7-1f1f9",
  "flag-bouvet-island": "1f1e7-1f1fb",
  "flag-botswana": "1f1e7-1f1fc",
  "flag-belarus": "1f1e7-1f1fe",
  "flag-belize": "1f1e7-1f1ff",
  "flag-canada": "1f1e8-1f1e6",
  "flag-cocos-islands": "1f1e8-1f1e8",
  "flag-congo-kinshasa": "1f1e8-1f1e9",
  "flag-central-african-republic": "1f1e8-1f1eb",
  "flag-congo-brazzaville": "1f1e8-1f1ec",
  "flag-switzerland": "1f1e8-1f1ed",
  "flag-cote-divoire": "1f1e8-1f1ee",
  "flag-cook-islands": "1f1e8-1f1f0",
  "flag-chile": "1f1e8-1f1f1",
  "flag-cameroon": "1f1e8-1f1f2",
  "flag-china": "1f1e8-1f1f3",
  "flag-colombia": "1f1e8-1f1f4",
  "flag-clipperton-island": "1f1e8-1f1f5",
  "flag-costa-rica": "1f1e8-1f1f7",
  "flag-cuba": "1f1e8-1f1fa",
  "flag-cape-verde": "1f1e8-1f1fb",
  "flag-curaçao": "1f1e8-1f1fc",
  "flag-christmas-island": "1f1e8-1f1fd",
  "flag-cyprus": "1f1e8-1f1fe",
  "flag-czechia": "1f1e8-1f1ff",
  "flag-germany": "1f1e9-1f1ea",
  "flag-diego-garcia": "1f1e9-1f1ec",
  "flag-djibouti": "1f1e9-1f1ef",
  "flag-denmark": "1f1e9-1f1f0",
  "flag-dominica": "1f1e9-1f1f2",
  "flag-dominican-republic": "1f1e9-1f1f4",
  "flag-algeria": "1f1e9-1f1ff",
  "flag-ceuta-melilla": "1f1ea-1f1e6",
  "flag-ecuador": "1f1ea-1f1e8",
  "flag-estonia": "1f1ea-1f1ea",
  "flag-egypt": "1f1ea-1f1ec",
  "flag-western-sahara": "1f1ea-1f1ed",
  "flag-eritrea": "1f1ea-1f1f7",
  "flag-spain": "1f1ea-1f1f8",
  "flag-ethiopia": "1f1ea-1f1f9",
  "flag-european-union": "1f1ea-1f1fa",
  "flag-finland": "1f1eb-1f1ee",
  "flag-fiji": "1f1eb-1f1ef",
  "flag-falkland-islands": "1f1eb-1f1f0",
  "flag-micronesia": "1f1eb-1f1f2",
  "flag-faroe-islands": "1f1eb-1f1f4",
  "flag-france": "1f1eb-1f1f7",
  "flag-gabon": "1f1ec-1f1e6",
  "flag-united-kingdom": "1f1ec-1f1e7",
  "flag-grenada": "1f1ec-1f1e9",
  "flag-georgia": "1f1ec-1f1ea",
  "flag-french-guiana": "1f1ec-1f1eb",
  "flag-guernsey": "1f1ec-1f1ec",
  "flag-ghana": "1f1ec-1f1ed",
  "flag-gibraltar": "1f1ec-1f1ee",
  "flag-greenland": "1f1ec-1f1f1",
  "flag-gambia": "1f1ec-1f1f2",
  "flag-guinea": "1f1ec-1f1f3",
  "flag-guadeloupe": "1f1ec-1f1f5",
  "flag-equatorial-guinea": "1f1ec-1f1f6",
  "flag-greece": "1f1ec-1f1f7",
  "flag-south-georgia-south-sandwich-islands": "1f1ec-1f1f8",
  "flag-guatemala": "1f1ec-1f1f9",
  "flag-guam": "1f1ec-1f1fa",
  "flag-guinea-bissau": "1f1ec-1f1fc",
  "flag-guyana": "1f1ec-1f1fe",
  "flag-hong-kong": "1f1ed-1f1f0",
  "flag-heard-mcdonald-islands": "1f1ed-1f1f2",
  "flag-honduras": "1f1ed-1f1f3",
  "flag-croatia": "1f1ed-1f1f7",
  "flag-haiti": "1f1ed-1f1f9",
  "flag-hungary": "1f1ed-1f1fa",
  "flag-canary-islands": "1f1ee-1f1e8",
  "flag-indonesia": "1f1ee-1f1e9",
  "flag-ireland": "1f1ee-1f1ea",
  "flag-israel": "1f1ee-1f1f1",
  "flag-isle-of-man": "1f1ee-1f1f2",
  "flag-india": "1f1ee-1f1f3",
  "flag-british-indian-ocean-territory": "1f1ee-1f1f4",
  "flag-iraq": "1f1ee-1f1f6",
  "flag-iran": "1f1ee-1f1f7",
  "flag-iceland": "1f1ee-1f1f8",
  "flag-italy": "1f1ee-1f1f9",
  "flag-jersey": "1f1ef-1f1ea",
  "flag-jamaica": "1f1ef-1f1f2",
  "flag-jordan": "1f1ef-1f1f4",
  "flag-japan": "1f1ef-1f1f5",
  "flag-kenya": "1f1f0-1f1ea",
  "flag-kyrgyzstan": "1f1f0-1f1ec",
  "flag-cambodia": "1f1f0-1f1ed",
  "flag-kiribati": "1f1f0-1f1ee",
  "flag-comoros": "1f1f0-1f1f2",
  "flag-st-kitts-nevis": "1f1f0-1f1f3",
  "flag-north-korea": "1f1f0-1f1f5",
  "flag-south-korea": "1f1f0-1f1f7",
  "flag-kuwait": "1f1f0-1f1fc",
  "flag-cayman-islands": "1f1f0-1f1fe",
  "flag-kazakhstan": "1f1f0-1f1ff",
  "flag-laos": "1f1f1-1f1e6",
  "flag-lebanon": "1f1f1-1f1e7",
  "flag-st-lucia": "1f1f1-1f1e8",
  "flag-liechtenstein": "1f1f1-1f1ee",
  "flag-sri-lanka": "1f1f1-1f1f0",
  "flag-liberia": "1f1f1-1f1f7",
  "flag-lesotho": "1f1f1-1f1f8",
  "flag-lithuania": "1f1f1-1f1f9",
  "flag-luxembourg": "1f1f1-1f1fa",
  "flag-latvia": "1f1f1-1f1fb",
  "flag-libya": "1f1f1-1f1fe",
  "flag-morocco": "1f1f2-1f1e6",
  "flag-monaco": "1f1f2-1f1e8",
  "flag-moldova": "1f1f2-1f1e9",
  "flag-montenegro": "1f1f2-1f1ea",
  "flag-st-martin": "1f1f2-1f1eb",
  "flag-madagascar": "1f1f2-1f1ec",
  "flag-marshall-islands": "1f1f2-1f1ed",
  "flag-north-macedonia": "1f1f2-1f1f0",
  "flag-mali": "1f1f2-1f1f1",
  "flag-myanmar": "1f1f2-1f1f2",
  "flag-mongolia": "1f1f2-1f1f3",
  "flag-macao-sar-china": "1f1f2-1f1f4",
  "flag-northern-mariana-islands": "1f1f2-1f1f5",
  "flag-martinique": "1f1f2-1f1f6",
  "flag-mauritania": "1f1f2-1f1f7",
  "flag-montserrat": "1f1f2-1f1f8",
  "flag-malta": "1f1f2-1f1f9",
  "flag-mauritius": "1f1f2-1f1fa",
  "flag-maldives": "1f1f2-1f1fb",
  "flag-malawi": "1f1f2-1f1fc",
  "flag-mexico": "1f1f2-1f1fd",
  "flag-malaysia": "1f1f2-1f1fe",
  "flag-mozambique": "1f1f2-1f1ff",
  "flag-namibia": "1f1f3-1f1e6",
  "flag-new-caledonia": "1f1f3-1f1e8",
  "flag-niger": "1f1f3-1f1ea",
  "flag-norfolk-island": "1f1f3-1f1eb",
  "flag-nigeria": "1f1f3-1f1ec",
  "flag-nicaragua": "1f1f3-1f1ee",
  "flag-netherlands": "1f1f3-1f1f1",
  "flag-norway": "1f1f3-1f1f4",
  "flag-nepal": "1f1f3-1f1f5",
  "flag-nauru": "1f1f3-1f1f7",
  "flag-niue": "1f1f3-1f1fa",
  "flag-new-zealand": "1f1f3-1f1ff",
  "flag-oman": "1f1f4-1f1f2",
  "flag-panama": "1f1f5-1f1e6",
  "flag-peru": "1f1f5-1f1ea",
  "flag-french-polynesia": "1f1f5-1f1eb",
  "flag-papua-new-guinea": "1f1f5-1f1ec",
  "flag-philippines": "1f1f5-1f1ed",
  "flag-pakistan": "1f1f5-1f1f0",
  "flag-poland": "1f1f5-1f1f1",
  "flag-st-pierre-miquelon": "1f1f5-1f1f2",
  "flag-pitcairn-islands": "1f1f5-1f1f3",
  "flag-puerto-rico": "1f1f5-1f1f7",
  "flag-palestinian-territories": "1f1f5-1f1f8",
  "flag-portugal": "1f1f5-1f1f9",
  "flag-palau": "1f1f5-1f1fc",
  "flag-paraguay": "1f1f5-1f1fe",
  "flag-qatar": "1f1f6-1f1e6",
  "flag-reunion": "1f1f7-1f1ea",
  "flag-romania": "1f1f7-1f1f4",
  "flag-serbia": "1f1f7-1f1f8",
  "flag-russia": "1f1f7-1f1fa",
  "flag-rwanda": "1f1f7-1f1fc",
  "flag-saudi-arabia": "1f1f8-1f1e6",
  "flag-solomon-islands": "1f1f8-1f1e7",
  "flag-seychelles": "1f1f8-1f1e8",
  "flag-sudan": "1f1f8-1f1e9",
  "flag-sweden": "1f1f8-1f1ea",
  "flag-singapore": "1f1f8-1f1ec",
  "flag-st-helena": "1f1f8-1f1ed",
  "flag-slovenia": "1f1f8-1f1ee",
  "flag-svalbard-jan-mayen": "1f1f8-1f1ef",
  "flag-slovakia": "1f1f8-1f1f0",
  "flag-sierra-leone": "1f1f8-1f1f1",
  "flag-san-marino": "1f1f8-1f1f2",
  "flag-senegal": "1f1f8-1f1f3",
  "flag-somalia": "1f1f8-1f1f4",
  "flag-suriname": "1f1f8-1f1f7",
  "flag-south-sudan": "1f1f8-1f1f8",
  "flag-sao-tome-principe": "1f1f8-1f1f9",
  "flag-el-salvador": "1f1f8-1f1fb",
  "flag-sint-maarten": "1f1f8-1f1fd",
  "flag-syria": "1f1f8-1f1fe",
  "flag-eswatini": "1f1f8-1f1ff",
  "flag-tristan-da-cunha": "1f1f9-1f1e6",
  "flag-turks-caicos-islands": "1f1f9-1f1e8",
  "flag-chad": "1f1f9-1f1e9",
  "flag-french-southern-territories": "1f1f9-1f1eb",
  "flag-togo": "1f1f9-1f1ec",
  "flag-thailand": "1f1f9-1f1ed",
  "flag-tajikistan": "1f1f9-1f1ef",
  "flag-tokelau": "1f1f9-1f1f0",
  "flag-timor-leste": "1f1f9-1f1f1",
  "flag-turkmenistan": "1f1f9-1f1f2",
  "flag-tunisia": "1f1f9-1f1f3",
  "flag-tonga": "1f1f9-1f1f4",
  "flag-turkey": "1f1f9-1f1f7",
  "flag-trinidad-tobago": "1f1f9-1f1f9",
  "flag-tuvalu": "1f1f9-1f1fb",
  "flag-taiwan": "1f1f9-1f1fc",
  "flag-tanzania": "1f1f9-1f1ff",
  "flag-ukraine": "1f1fa-1f1e6",
  "flag-uganda": "1f1fa-1f1ec",
  "flag-us-outlying-islands": "1f1fa-1f1f2",
  "flag-united-nations": "1f1fa-1f1f3",
  "flag-united-states-of-america": "1f1fa-1f1f8",
  "flag-uruguay": "1f1fa-1f1fe",
  "flag-uzbekistan": "1f1fa-1f1ff",
  "flag-vatican-city": "1f1fb-1f1e6",
  "flag-st-vincent-grenadines": "1f1fb-1f1e8",
  "flag-venezuela": "1f1fb-1f1ea",
  "flag-british-virgin-islands": "1f1fb-1f1ec",
  "flag-us-virgin-islands": "1f1fb-1f1ee",
  "flag-vietnam": "1f1fb-1f1f3",
  "flag-vanuatu": "1f1fb-1f1fa",
  "flag-wallis-futuna": "1f1fc-1f1eb",
  "flag-samoa": "1f1fc-1f1f8",
  "flag-kosovo": "1f1fd-1f1f0",
  "flag-yemen": "1f1fe-1f1ea",
  "flag-mayotte": "1f1fe-1f1f9",
  "flag-south-africa": "1f1ff-1f1e6",
  "flag-zambia": "1f1ff-1f1f2",
  "flag-zimbabwe": "1f1ff-1f1fc",
  "flag-england": "1f3f4-e0067-e0062-e0065-e006e-e0067-e007f",
  "flag-scotland": "1f3f4-e0067-e0062-e0073-e0063-e0074-e007f",
  "flag-wales": "1f3f4-e0067-e0062-e0077-e006c-e0073-e007f"
);

@each $name, $code in $flag-twemoji-map {
  .twa-#{$name} {
    background-image: url("https://twemoji.maxcdn.com/2/svg/#{$code}.svg");
  }
}